
<ng-template [ngIf]="!!project">
    <div class="card">
      <div class="card-body">
        <h2>{{project.name}}</h2>
          <button (click)="deleteProject(project)" >
  
            Supprimer le Projet
          </button>
        <ul>
          <li>description: {{project.description}}</li>
          <ul>

            <li *ngFor="let ticket of project.tickets">
                tickets: <a routerLink="/{{ticket.id}}"> {{ticket.title}}</a></li>
                <button [routerLink]="['addTicket']">
        
                  Ajouter un Ticket
                </button>
          </ul>

        </ul>

      </div>
    </div>
</ng-template>
  
  
  