<h1>creer un projet</h1>
<form [formGroup]="projectForm" (ngSubmit)="save()" >

    <!-- [control]="myForm.controls['name']" permet d'afficher les erreurs automatiquement ;) : ty !  -->


    <app-field label="Nom" [control]="projectForm.controls['name']">
        <input type="text" name="name" formControlName='name' required />
    </app-field>

    <app-field label="Description" [control]="projectForm.controls['description']">
        <input type="text" name="description" formControlName='description' required />
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="projectForm.invalid">
        Soumettre
    </button>
</form>
