<!-- <article class="ticket-card" [routerLink]="['/detail', ticket.id]">
    <div class="ticket-card__infos">
      <div class="ticket-card__header">
        <h2 class="ticket-card__title">{{ticket.title}}</h2>
        <button class="ticket-star-button is-favorite" type="button">
          <lucide-icon name="star"></lucide-icon>
        </button>
      </div>
      <p class="ticket-card__baseline">{{ticket.content}}</p>
      

      <ul class="ticket-status">
        <li class="ticket-status__item">{{ticket.status}}</li>
      </ul>
    </div>
    
  </article> -->
