<div class="u-wrapper u-wrapper--large">
    <div class="page__header">
      <h1>Projects</h1>
  
      <button [routerLink]="['/add']">
        
        Ajouter un project
      </button>
    </div>
  
    <ul>
      <li *ngFor="let project of projects">
        <a routerLink="/project/{{project.id}}">
          {{project.name}} - {{project.description}}
        </a>
      </li>
    </ul>
      
</div>
