
<h1>creer un ticket</h1>
<form [formGroup]="ticketForm" (ngSubmit)="save()" >

    <!-- [control]="myForm.controls['name']" permet d'afficher les erreurs automatiquement ;) : ty !  -->


    <app-field label="Titre" [control]="ticketForm.controls['title']">
        <input type="text" name="title" formControlName='title' required />
    </app-field>

    <app-field label="Content" [control]="ticketForm.controls['content']">
        <input type="text" name="content" formControlName='content' required />
    </app-field>

    <!-- <app-field label="Status" [control]="ticketForm.controls['status']">
        <input type="enum" name="status" formControlName='status' required />
    </app-field> -->
    <app-field label="Status" [control]="ticketForm.controls['status']">
        <div>
            <select type="enum" name="status" formControlName='status' required>
                <option *ngFor="let statut of keys(status)"
                    [value]>{{statut}}
                </option>
            </select>
        </div>  
    </app-field>

    <button type="submit" class="btn btn-primary" [disabled]="ticketForm.invalid">
        Soumettre
    </button>
</form>

