<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/">
          <span><img width="30" height="30" src="/assets/Monogramme Zenika.png" alt="logo"/></span>
          Zira
        </a>
      </div>
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" >Login</a>
        </li>
      </ul>
    </nav>
  </header>
  
